# para instalar todas las dependencias
# pip instal -r requirements.txt
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.32.3
urllib3==2.2.2
Werkzeug==3.0.4
pillow==10.4.0
langchain-community==0.2.16
tensorflow==2.17.0
tensorflow-datasets==4.9.6
flask-cors==2.1.5