/* AuthModals.module.css */


/* Fondo oscuro transparente para la ventana emergente */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  backdrop-filter: blur(5px); 
}

/* Contenedor del modal */
.modalContainer {
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
}

/* Información sobre CookingWithAI */
.information {
  width: 40%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #F4E8D9; /* Color marrón oscuro */
  color: #333333; /* Letras blancas */
}

.information h2 {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Contenido del modal */
.modalContent {
  width: 60%;
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #dad3c0; /* Color marrón claro */
  color: #333333; /* Letras blancas */
}

.modalContent h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.modalContent input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #3c3939;
  border-radius: 5px;
  background-color: #F4E8D9; /* Color verde oscuro */
  color: #333333; /* Letras blancas */
}

.modalContent button {
  background-color: #E6B800; /* Color rojo intenso */
  border: none;
  color: 333333;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.modalContent button:hover {
  background-color: #FF3737; /* Color rojo claro */
}

/* Botón cerrar */
.closeBtn {
  background-color: transparent;
  color: #333333;
  border: none;
  font-size: 0.9rem;
  margin-top: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Icono de cocinero */
.cocinero-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #333333;
}

/* Estilos adicionales */
.modalContent label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #F4E8D9; /* Color marrón oscuro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modalContent label input {
  width: 100%;
  padding: 10px;
  background-color: #F4E8D9;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333333;
}

.modalContent label i {
  color: #333333;
}

.modalContent .alertaError {
  display: block;
  background-color: #e81e1e;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

.modalContent .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

.modalContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
}