/* Contenedor principal */
body {
  height: 95.7vh;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Contenedor de la parte interactiva con la IA */
.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #5c3434;
  overflow-y: auto;
}

.chatContainer img {
  display: flex;
  align-self: center;
  width: 250px;
  height: 250px;
  margin-top: 50px;
  border-radius: 50%;
  border-style: solid #964B00;
  background-color: #964B00;
}

.chatContainer h2, .chatContainer label, .chatContainer h4 {
  color: white;
}

.chatContainer h1 {
  color: white;
  font-family: Tahoma;
}

/* Barra lateral para las recetas antiguas */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #964B00;
  color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  color: white;
}

.sidebar p {
  color: black;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  list-style: disc;
}

.sidebar li:hover {
  text-decoration: underline;
}

.sendButton {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #6c0d0d;
  color-scheme: light dark;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #964B00;
}

.sendButton:disabled {
  background-color: #6c757d;
}

.errorMessage {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.aiResponse {
  height: 100%;
  color: #964B00;
}

.submits {
  display: flex;
  justify-content: center;
}

.uploadButton {
  padding: 10px 10px;
  margin-left: 10px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.uploadText {
  padding: 5px 0px;
  margin-left: 10px;
  color: black;
  border: none;
}

.recipeContainer {
  height: 100%;
  padding: 20px;
}

.recipeContainer h2 {
  text-transform: uppercase;
  color:#964B00;
}

.cleanList {
  list-style-type: none;
  padding-left: 0;
  color: white;
}

.logoutButton {
  display: flex;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.logoutButton:hover {
  border-color: #6c0d0d;
}

.logoutButton:focus,
.logoutButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bottomButton {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}